exercism
java/hello-world/.gradle/*
java/hello-world/.settings/*
java/hello-world/build/*
java/hello-world/.classpath
java/hello-world/.project
java/hello-world/build.gradle
java/armstrong-numbers/.gradle/*
java/armstrong-numbers/.settings/*
java/armstrong-numbers/build/*
java/armstrong-numbers/.classpath
java/armstrong-numbers/.project
java/armstrong-numbers/build.gradle
java/reverse-string/.gradle/*
java/reverse-string/.settings/*
java/reverse-string/build/*
java/reverse-string/.classpath
java/reverse-string/.project
java/reverse-string/build.gradle
java/two-fer/.gradle/*
java/two-fer/.settings/*
java/two-fer/build/*
java/two-fer/.classpath
java/two-fer/.project
java/two-fer/build.gradle