.gradle
.solution.json
node_modules/
*.lock

exercism
java/hello-world/.gradle/*
java/hello-world/.settings/*
java/hello-world/build/*
java/hello-world/.classpath
java/hello-world/.project
java/hello-world/build.gradle
java/armstrong-numbers/.gradle/*
java/armstrong-numbers/.settings/*
java/armstrong-numbers/build/*
java/armstrong-numbers/.classpath
java/armstrong-numbers/.project
java/armstrong-numbers/build.gradle
java/reverse-string/.gradle/*
java/reverse-string/.settings/*
java/reverse-string/build/*
java/reverse-string/.classpath
java/reverse-string/.project
java/reverse-string/build.gradle
java/two-fer/.gradle/*
java/two-fer/.settings/*
java/two-fer/build/*
java/two-fer/.classpath
java/two-fer/.project
java/two-fer/build.gradle
java/rna-transcription/.gradle/*
java/rna-transcription/.settings/*
java/rna-transcription/build/*
java/rna-transcription/.classpath
java/rna-transcription/.project
java/rna-transcription/build.gradle
java/rna-transcription/README.md
java/darts/.classpath
java/darts/.project
java/dnd-character/.classpath
java/dnd-character/.project
java/resistor-color-duo/.classpath
java/resistor-color-duo/.project
java/resistor-color/.classpath
java/resistor-color/.project

# 2020-07-13, these were modified before I started tracking with Git
.exercism.exe.old
exercism.exe
javascript/leap/HINT.md
javascript/simple-cipher/
typescript/armstrong-numbers/
typescript/simple-cipher/